.home {
  padding: 150px 0;
  text-align: center;
}

.hero__head {
  font-size: 50px;
  font-weight: 700;
  color: #1D2228;
  white-space: nowrap;
  line-height: 1.25;
}

.hero__text {
  font-size: 20px;
  max-width: none;
  margin-top: 30px;
}

.hero__btn--container {
  padding: 60px 0;
}

.counter {
  font-weight: bold;
  padding: 10px;
}
